<a href="http://personal.us.es/fmuro" ><span><i class="fa fa-university"></i> Web de Fernando</span></a><br>
<a href="mailto:fmuro@us.es" ><span><i class="fa fa-envelope-open"></i> fmuro@us.es</span></a><br>
<a href="https://gitlab.com/basicalgebra/algbas.git" ><span><i class="fa fa-gitlab"></i> Código fuente</span></a><br>
<a href="/algbas/howto" ><span><i class="fa fa-edit"></i> Edita tu propia versión</span></a><br>
